<!DOCTYPE html>
<html>
	<head>
		<!-- BROWSER -->
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- PAGE -->
		<title>HubSpot Page Printer</title>
		<meta name="author" content="Jeff Reiner">
		<meta name="description" content="Helps you get a list of all your HubSpot COS pages">
		<!-- STYLES -->
		<link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
		<!-- FAVICONS -->
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="favicon/manifest.json">
		<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#f7751f">
		<link rel="shortcut icon" href="favicon/favicon.ico">
		<meta name="msapplication-config" content="/favicon/browserconfig.xml">
		<meta name="theme-color" content="#f7751f">
	</head>

	<style media="screen">
		main {
			margin: 48px;
			color: rgba(0,0,0,0.87)
		}
		form { margin: 32px 0; }
		form .field label {
			color: rgba(0,0,0,0.54);
			font-size: 14px;
			display: block;
			margin-bottom: 8px;
		}
		form .field { margin-bottom: 16px; }
		form .field.submit {
			margin-top: 16px;
			margin-bottom: 0;
		}
		#json {
			padding: 24px;
			background-color: rgba(0,0,0,0.10);
			border-radius: 3px;
		}
		#json div {
			font-family: monospace;
			font-size: 14px;
		}
		#json div:not(:last-child) { margin-bottom: 8px; }
	</style>

	<body>
		<main id="app">
			<form class="form">
				<div class="field">
					<label for="hapiKey">HubSpot API Key</label>
					<input id="hapiKey" placeholder="Enter Key" v-model="form.hapiKey">
				</div>
				<div class="field">
					<label for="subcategory">HubSpot Page Subcategory</label>
					<select id="subcategory" v-model="form.subcategory">
						<option value="landing_page">Landing Page</option>
						<option value="site_page">Site Page</option>
					</select>
				</div>
				<div class="field">
					<label for="checkbox">Include Drafts?</label>
					<input type="checkbox" id="checkbox" v-model="form.draft"> {{ form.draft }}
				</div>
				<div class="field submit">
					<button @click="printJSON(form.hapiKey, form.subcategory, form.draft)">Print JSON</button>
				</div>
			</form>
			<div id="json"></div>
		</main>
	</body>

	<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="https://unpkg.com/jquery@3.1.1/dist/jquery.min.js"></script>
	<script>		
		// Init Vue
		new Vue({
			el: '#app',
			data: function () {
				return {
					form: {
						hapiKey: '',
						subcategory: 'site_page',
						draft: false
					},
					loadingButton: false,
					printJSON(a, b, c) {
						$("#json div").remove();
						$.getJSON('https://api.hubapi.com/content/api/v2/pages?hapikey=' + a + '&subcategory=' + b + '&is_draft=' + c + '&limit=1000', function(data) {
							for (i = 0; i < data.total_count; i++) {
								$("#json").append("<div>" + data.objects[i].url + "," + data.objects[i].name + "," + data.objects[i].campaign_name + "</div>");
							}
						})
						.done(function () {
							console.log('Done');
						})
						.fail(function () {
							console.log('Request Failed');
						});
					}
				}
			}
		});
	</script>
</html>